---
import Layout from '../layouts/Layout.astro';
import { Button } from 'antd';
---

<Layout title="Lavender Health">
	<main>
		<span>Hello world!<span/>
		<span class="font-serif">Hello world!<span/>
		<Button client:only>I am groot</Button>
	</main>
</Layout>

<style>
</style>
